// ==============================
// Custom style
// ==============================

// Cień pod górną belką
header {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

// Usunąłem cień wokół artykułu
article {
	background: $global-background-secondary-color;
	box-shadow: (0 0 0rem 0 rgba(0, 0, 0, .1));
	[theme=dark] & {
		box-shadow: (0 0 0px rgba(94, 104, 125, .3));
	}

	em {
		background: none;
		padding: 0px;
		font-style: italic;

		[theme=dark] & {
			background: none;
		}
	}
}

//logo
.home {
	.home-profile {
		.home-avatar {
			img {
				box-shadow: (0 0 0 0em #292a2d);
				border-radius: (0%);
				&:hover {
					box-shadow: (0 0 0px rgba(0, 0, 0, .1));
					border-radius: (0%);
				}

				[theme=dark] & {
					box-shadow: (0 0 0 0em #292a2d);
					border-radius: (0%);
					&:hover {
						box-shadow: (0 0 0px rgba(0, 0, 0, .1));
						border-radius: (0%);
					}
				}
			}
		}
	}
}

// Ramka wokół postów
.home[data-home=posts] {
	.summary {

		border: 0px solid $global-secondary-color;

		[theme=dark] & {
			border: 0px solid $global-secondary-color-dark;
		}
	}
}

.single {

	.content {

		blockquote {
			border-left: .3rem solid $global-background-color;
			text-align: left;
			font-size: 100%;
			background-color: $global-secondary-color;
			padding: 0px .75rem;
			margin: 1rem 0;
			text-transform: none;
			background: none;

			[theme=dark] & {
				border-left: .3rem solid $global-background-color-dark;
			}
		}
	}
}

//

.footer-post-author {
	border: solid 0px $global-secondary-color;
	border-bottom: solid 0px;
	background: $global-background-color;

	[theme=dark] & {
		background-color: $global-background-color-dark;
	}
}

.author-avatar {
	img {
		border-radius: 10%;
	}
}

.author-info {
		a {
		[theme=dark] & {
			color: #ccc;
		}
	}
}


.post-navigation {
	.nav-box {
		box-shadow: 0 0 0em;
		background-color: $global-background-color;

		[theme=dark] & {
			background-color: $global-background-color-dark;
			box-shadow: 0 0 0em
		}
	}
}

.comments {
	box-shadow: (0 0 0rem 0 rgba(0, 0, 0, .1));

	[theme=dark] & {
		box-shadow: (0 0 00px rgba(94, 104, 125, .3));
	}
}
