// ==============================
// Nadpisanie _variables.scss
// ==============================


// ========== Global ========== //

// Color of the background
$global-background-color: #d6d0bf;
$global-background-secondary-color: #eee8d5;

$global-background-color-dark: #1d2021;
$global-background-secondary-color-dark: #333333;

$global-secondary-color: #737373;
$global-secondary-color-dark: #a9a9b3;

// Color of the text
$global-font-color: #161209;
$global-font-secondary-color: #a6a295;

$global-font-color-dark: #a9a9b3;
$global-font-secondary-color-dark: #5d5d5f;

// ========== Header ========== //
// Color of the header background¬
$header-background-color: #beb9aa;
$header-background-color-dark: #252627;

// ========== Code ========== //
$code-color: #900020;
$code-color-dark: #ceab6c;

// Color of the code background
$code-background-color: #d6d0bf;
$code-background-color-dark: #282828;

// ========== Summary Content ========== //

$article-summary-border-radius: 10px;
$article-summary-image-border-radius: 10px;

// ========== Single Content ========== //
$article-border-radius: 10px;


